* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	min-height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

// ------------------------------------------------------------------------------------------------

// Landing

body {
	font-family: Poppins;
	background-color: rgb(16, 20, 28);
	color: rgb(206, 211, 214);
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 20px;
}

ul {
	margin: 20px 0;
}

ul li:not(:last-child) {
	margin-bottom: 2rem;
}

ul li > a {
	display: block;
	font-size: 1.5rem;
}

ul li > p {
	margin-top: 0.2rem;
}

.group > ul {
	margin-left: 2rem;
}

.group {
	margin-bottom: 4rem;
}


a {
	font-weight: 600;
	color: rgb(135, 176, 196);
	transition: 200ms ease color;
}

a:hover {
	color: white;
}


// Renderers

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.dg.ac {
	z-index: 2;
}